/* header start */

#header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

#logos {
    display: flex;
    align-items: center;
}

#logo {
    width: 50px;
    height: 50px;
    margin-left: 45px;
    margin-right: 10px;
    background: url("../img/logo2.png") center / cover;

}

#title {
    margin-right: 80px;
}

#title h2 a {
    font-size: 1.125rem;
    font-family: var(--fontN);
    font-weight: 900;
}

#menu {
    height: 100%;
    display: flex;
    align-items: center;
}

#menu ul {
    display: flex;
}

#menu ul>li {
    margin-right: 50px;
}

#menu ul>li>a {
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--fontN);
}

#controller {
    width: 550px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

#controller a {
    margin-left: 30px;
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--fontN);
}


#searchBar {
    width: 370px;
    height: 100%;
    background-color: #eee;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchBar .search-input {
    width: 100%;
    height: 100%;
    background-color: #eee;
    border: 0;
}

#searchBar .search-input:focus {
    outline: none;
}

#searchBar i {
    font-size: 1rem;
    margin-left: 15px;
    margin-right: 15px;
}

/* #profile {
    margin-left: 70px;
    margin-right: 70px;
}

#profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #dedede;
    line-height: 1;
} */

.login-profile {
    width: 40px;
    height: 40px;
    border: 1px solid var(--black);
    display: inline-block;
    background-color: var(--white);
    border-radius: 50%;
}

.login-profile:hover {
    background-color: var(--white200);
}

.profile-box {
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 250px;
    background-color: #f9f9f9;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    right: 83px;
    z-index: 1000;
    top: 50px;
}

.profile-box.show {
    top: 65px;
    visibility: visible;
    opacity: 1;
}

.profile-box ul {}

.profile-box li {
    font-size: 12px;
    width: 240px;
    line-height: 2;

}

.profile-box li a {
    margin: 0;
    width: 200px;
    border-radius: 10px;
    border: 1px solid #000;
    padding: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    padding-left: 10px;
}

.profile-box li a:nth-child(1):hover {
    border: 1px solid var(--white);
    color: var(--white);
    background-color: #bfbfbf;
}

.profile-box li a:nth-child(2) {
    border: 1px solid red;
    color: red;
}

.profile-box li a:nth-child(2):hover {
    border: 1px solid rgb(247, 124, 124);
    color: var(--white);
    background-color: rgb(247, 124, 124);
}

.profile-box li a:hover {
    text-decoration: underline;
    text-underline-position: under;
}

/* header end */

/* main start */
#main {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 60%;
    height: 100%;
}

/* main end */


/* footer start */
/* #footer {
    width: 100%;
    height: 515px;
    background-color: #ECECEC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__container {
    width: 60%;
    height: 100%;
}

#f_logos {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 70px;
}

#flogo {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    background: url("../img/logo2.png") center / cover;
    background-repeat: no-repeat;
}

#ftitle h2 a {
    font-weight: 700;
    font-family: var(--fontN);
}

#contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

#contact {
    margin-left: 15px;
}

#contact ul {
    display: block;
    margin-right: 150px;
}

#contact ul li {
    width: 100%;
    margin-bottom: 30px;
}

#contact ul li a {
    display: inline-block;
    font-weight: 600;
    font-family: var(--fontN);
    line-height: 2;
}

.follow>li.icon>a {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: var(--black);
    border-radius: 50%;
    text-align: center;
}

.follow li:nth-child(2) a {
    background-image: var(--snsGithub);
}

.follow li:nth-child(3) a {
    background-image: var(--snsYoutube);
}

.follow li:nth-child(4) a {
    background-image: var(--snsBlog);
}

#rights {
    margin-left: 15px;
    margin-bottom: 15px;
} */

/* 05/14 Footer 수정 Nam */
#footer {
    width: 100%;
    height: 200px;
    background-color: #032E59;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__container {
    width: 1354px;
    height: 100%;
    background-color: #032E59;
}

#f_logos {
    display: flex;
    align-items: center;
    width: 1354px;
    height: inherit;
}

#flogo {
    width: 150px;
    height: 100px;
    margin: 0 auto;
    background: url("../img/footerlogo.png") center / cover;
    background-repeat: no-repeat;
}

#ftitle {
    width: 350px;
    text-align: right;
    font-size: 1.25rem;
    color: var(--white600);
    font-weight: 900;
    font-family: var(--fontT);
}

#ftitle em {
    font-size: 1.5rem;
    color: var(--white);
}

#f_logos ul {
    width: 350px;
    display: flex;
    margin-right: 20px;
}

#f_logos ul li {
    margin-right: 25px;
}

#f_logos ul li a {
    display: inline-block;
    font-family: var(--fontT);
    font-weight: 600;
    line-height: 2;
    justify-content: center;
    margin: 0 auto;
}

.follow>li.icon>a {
    width: 40px;
    height: 40px;
    background-color: var(--white);
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
}

.follow>li.icon>a img {
    width: 25px;
    height: 25px;
}

#rights {
    margin-left: 15px;
    margin-bottom: 15px;
}

/* footer end */
@media (max-width : 1350px) {
    .header-container {
        width: 90vw;
    }
}

@media (min-width : 375px) {
    #body {
        width: 1rem;
    }

    ul {
        li {
            a {
                font-size: 10px;
            }
        }
    }
}

/* footer end */