.menu {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.submenu {
    list-style: none;
    padding: 0;
}

.submenu li {
    margin: 10px 0;
}

.submenu li a {
    text-decoration: none;
    color: #000;
}

.submenu li a:hover {
    text-decoration: underline;
}

.product__container {
    display: flex;
}

.left {
    width: 20%;
    padding: 20px;
}

.right {
    width: 80%;
    padding: 20px;
}

.right__title {
    margin-bottom: 20px;
}

.mypage-title {
    font-size: 24px;
    font-weight: bold;
}

.right__main {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.like-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    align-items: center;
}

.like-item span {
    font-size: 18px;
}

.like-item button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.like-item button svg {
    width: 24px;
    height: 24px;
    fill: #ff6347;
}

.like-item button:hover svg {
    fill: #ff4500;
}