#wrap {
    width: 100%;
}

.product__container {
    max-width: 1340px;
    height: 1060px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
}

/* left */
.left {
    width: 260px;
    height: 100%;
}

.left .menu {
    margin-bottom: 26px;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 700;
}

.left .submenu li {
    margin-bottom: 28px;
}

.left .submenu li a {
    font-size: 18px;
    font-weight: 500;
    color: #4e4e4e;
}

.left .submenu li:hover a {
    text-decoration: underline;
    text-underline-position: under;
}

/* right */
.right {
    width: 1080px;
    height: 100%;
}

/* right__title */
.right__title {
    font-size: 38px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

/* right__select */
#right__select {
    width: 250px;
    height: 38px;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    border-radius: 50px;
    border-color: #d1d1d1;
}

/* right__main */
.right__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.right__main.column {
    width: 24%;
}

/* right__cont */
.right__cont {
    width: 250px;
    height: 270px;
    border-radius: 10px;
    margin-top: 28px;
    background-color: #F5F5F5;
    border: 3px solid #c1c1c1;    
}

.right__cont:hover {
    background-color: #b1b1b1;
    transition: all 0.3s;
}

.right__cont img {
    width: 220px;
    height: 140px;
    border-radius: 50;
    margin-top: 13px;
    padding: 15px;
    /* object-fit:contain; */
}

.right__category {
    text-align: center;
}
.right__category a {
    color: #758CF1;
    display: inline-block;
    padding: 0 20px;
    background-color: #EAEEFD;
    font-weight: 600;
    margin-right: 8px;  
    margin-top: 8px;
}


.right__img {
    border-radius: 5%;
    width: 230px;
    height: 150px;
    background-color: black;
    margin: 0 auto;
    margin-top: 5px;
    /* background: url(https://play-lh.googleusercontent.com/X5-X2S0t7G9dTGrPftk-5hXijqRDhwWKxGDs2gBm_kNPcAlO3re4exC_8nekvDhz-H0=w240-h480-rw); */
    background: url(../img/notice1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    /* border-bottom: 2px solid #c1c1c1; */
}

/* right__info */
.right__info {
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
}

.right__info > a {
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 8px;  
    margin-top: 6px;
    display: inline-block;
    color: #141826;
}

.right__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 40px;
    background-color: #6C81CE;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
}

.info__btn a{
    color: #EAEEFD;
    font-weight: 600;
    display: inline-block;
    padding: 0 50px;
}